<html>
<head>
  <title>Paybox checkout</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body>
<% #current_order.delete %>
<% #raise @paybox_params.inspect -%>
<div style="display: none;">
  <form id="payboxForm" action="<%= @payr.select_server_url -%>" method="POST">
    <%= paybox_hidden_fields @paybox_params %>
    <input type='submit' value='Payer ma commande via Paybox' />
  </form>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('form#payboxForm').submit();
  });
</script>
</body>
</html>
